/* Loi Hamon Prestashop module
 * Copyright 2014, Prestaddons
 * Author: Prestaddons
 * Website: http://www.prestaddons.fr
 */

/* Styles du module Retractation Loi Hamon */
#module-loihamon-retractation #product_wrapper_label {display:none;}

#module-loihamon-retractation .product_wrapper {padding:0;margin:0;}

#module-loihamon-retractation .product {padding:10px 0;margin:0;border:1px solid #d6d4d4;}

#module-loihamon-retractation .product_wrapper img {border:1px solid #d6d4d4;}

#module-loihamon-retractation .product_wrapper .input_wrapper{padding:12px 5px;float:left;}

#module-loihamon-retractation .product_wrapper .input_wrapper input{margin-top:3px;}

#module-loihamon-retractation .product_wrapper img{float:left;margin-right:10px;}

#module-loihamon-retractation .clear{display:block;clear:both;}

#module-loihamon-retractation table .order_qte_input{
	height: 27px;
	line-height: 27px;
    padding: 0;
    text-align: center;
    width: 57px;
}
#module-loihamon-retractation table .order_qte_input {
	display:none;
}
#module-loihamon-retractation table .return_quantity_buttons {
    margin-top: 3px;
	display:none;
}
.contact-title {
	margin: -5px 0 27px 0;
	line-height: 23px; }
.contact-title i {
    font-size: 23px;
    color: #c0c0c0;
    padding: 0 8px 0 0; }
.contact-form-box {
	padding: 23px 0 0 0;
	margin: 0 0 30px 0;
}
.contact-form-box label {
    margin: 0 0 6px 0; }
.contact-form-box .page-subheading {
    padding-left: 0px;
    border: none;
    margin-bottom: 0; }
.contact-form-box .col-md-3 {
    padding-left: 0; }
@media (max-width: 991px) {
	.contact-form-box .col-md-3 {
        padding-right: 0; } }
.contact-form-box .col-md-9 {
    padding-right: 0; }
@media (max-width: 991px) {
	.contact-form-box .col-md-9 {
        padding-left: 0; } }
.contact-form-box #desc_contact0 {
    display: none; }
.contact-form-box .form-group {
    margin-bottom: 7px; }
.contact-form-box textarea {
    height: 257px; }
.contact-form-box .submit {
    margin-top: 13px; }
.contact-form-box select.form-control {
    max-width: 270px;
    width: 100%; }
.contact-form-box input.form-control {
    max-width: 270px; }
@media (min-width: 992px) and (max-width: 1199px) {
    .contact-form-box div.uploader span.filename {
		width: 114px; } }