@-webkit-keyframes spin_circle {
  0%,
  100% {
    box-shadow: 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49, 15px -15px #dfdfdf;
  }
  25% {
    box-shadow: -15px 15px #dfdfdf, -15px -15px #4f4d49, 15px -15px #dfdfdf, 15px 15px #4f4d49;
  }
  50% {
    box-shadow: -15px -15px #4f4d49, 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf;
  }
  75% {
    box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49;
  }
}

.cols > div
{
  float: left;
  width: 48%;
  margin: 0 1%;
}
.cols:after
{
  content: '';
  display: block;
  clear: both;
}
.row:after
{
  content: '';
  display: block;
  clear: both;
}

#btnSearch
{
  float: right;
  margin-top: 15px;
}

.row label
{
  font-weight: normal;
  font-size: 14px;
}
.list_product_query
{
  margin-top: 20px;
}
.list_product_query .search_product
{
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
}

.list_product_query .search_product img
{
  margin-right: 10px;
}

.search_product .col_left
{
  float: left;
}
.search_product .col_right
{
  float: right;
}
.search_product:after
{
  content: '';
  display: block;
  clear: both;
}
.search_product .no_image
{
  width: 80px;
}

.search_product .col_right button
{
  margin: 26px 0;
}

.product_with_gift .product_title,
.category_with_gift .category_title,
.selected_product_with_gift,
.selected_category_with_gift,
.product_gifts,
.category_gifts
{
  & img
  {
    margin-right: 10px;
    width: 30px;
  }
}

.product_with_gift,
.category_with_gift
{
  padding: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  margin-bottom: 10px;

  & .product_gifts,
  & .category_gifts
  {
    display: none;
  }

  &.active
  {
    background: #d9eec7;

    & .product_gifts,
    & .category_gifts
    {
      display: block;
    }
  }

  & .product_title,
  & .category_title
  {
    & .delete_product_with_gift,
    & .delete_category_with_gift
    {
      float: right;
    }

    & .add_gift,
    & .add_gift_category
    {
      float: right;
      margin-right: 10px;
    }

    &:after
    {
      content: '';
      clear: both;
      display: block;
    }
  }

  & .category_title
  {
    line-height: 31px;
  }
}

.search_panel .add_gift_product_with_gifts
{
  display: none;
}

.search_panel.active .add_gift_product_with_gifts
{
  display: block;
  margin-bottom: 10px;
}


.add_gift_product_with_gifts
{
  background: #d9eec7;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #A3B792;
}

.add_gift_product_with_gifts:after
{
  content: '';
  display: block;
  clear: both;
}

.selected_product_with_gift
{
  float: left;
}

.cols > .col_right.active
{
  background: #d9eec7;
}

.cancel_adding_gift,
.delete_gift
{
  float: right;
}

.product_gifts,
.category_gifts
{
  margin: 0 40px;
  background-color: #FFF;
}
.product_gifts .gift,
.category_gifts .gift
{
  padding: 5px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;

  &:after
  {
    content: '';
    clear: both;
    display: block;
  }
}

.cols
{
  & .col_right
  {
    float: right;
  }
}

.cols > .col_right.loading,
.cols > .col_left.loading
{
  position: relative;
}

.cols > .col_right.loading.loading:after,
.cols > .col_left.loading.loading:after
{
  display: block;
  content: '';
  clear: both;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0, 0.3);
  position: absolute;
  z-index: 999;
}

.cols > .col_right.loading.loading:before,
.cols > .col_left.loading.loading:before
{
  content: '';
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  z-index: 9999;
  box-shadow: 15px 15px #4f4d49, -15px 15px #dfdfdf, -15px -15px #4f4d49, 15px -15px #dfdfdf;
  -webkit-animation: spin_circle ease infinite 4s;
}

.count_gifts
{
  float: right;
  margin-right: 10px;
  color: #333333;
  font-weight: bolder;
  line-height: 25px;
}

.panel-footer
{
  height: 44px!important;
}

#saveGiftProducts
{
  float: right;
}

.panel_gifts ul li
{
  list-style: none;
}

.type_category
{
  & .selected_product_with_gift
  {
    & span
    {
      line-height: 31px;
    }
  }
}