.gift_products
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.gift_products .title_block
{
    line-height: 35px;
    padding: 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px dashed #333;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.gift_products ul li
{
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.gift_products ul li img
{
    margin-right: 20px;
}

.has_gift_product
{
    display: inline-block;
    background: #e34f46;
    color: #FFFFFF;
    line-height: 23px;
    padding: 0 10px;
}